<div class="root">
  <div class="node-tree">
    <div>
      <span class="root-tree">{{ treeNodes.title }}</span>
      <button (click)="addSection()">
        <i class="material-icons">add</i>
      </button>
    </div>
    <ng-container *ngFor="let node of treeNodes.children">
      <div style="margin: 25px">
        <span class="section-tree">{{ node.title }}</span>
        <button>
          <i class="material-icons">add</i>
        </button>
        <button>
          <i class="material-icons">clear</i>
        </button>
        <button>
          <i class="material-icons">edit</i>
        </button>
      </div>
      <div *ngIf="node.children">
        <ng-container *ngFor="let childNode of node.children">
          <div style="margin: 10px; padding: 10px">
            <span class="subsection-tree">{{ childNode.title }}</span>
            <button>
              <i class="material-icons">clear</i>
            </button>
            <button>
              <i class="material-icons">edit</i>
            </button>
            <button>
              <i (click)="openDialog()" class="material-icons"> description </i>
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #addSectionForms>

</ng-template>


<ng-template #addSubSectionForms>
  <mat-form-field appearance="outline">
    <input matInput placeholder="name section">
  </mat-form-field>
</ng-template>
