/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  color: #202020;
}

body { background-color: azure; font-family: Roboto, "Helvetica Neue", sans-serif; }
